@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Roboto:wght@100&display=swap');

:root{
    --cor-primaria: #384253;
    --cor-secundaria: #4682B4;
    --cor-terciaria: #47A6B5;
    --cor-hover: #272727;

    --fonte-primaria: 'Josefin Sans', sans-serif;
    --fonte-secundaria: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: #F6F6F6;
}

.cabecalho{
    padding: 2% 0% 0% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    text-decoration: none;
}

.cabecalho__menu__link{
    font-family: var(--fonte-primaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-secundaria);
    text-decoration: none;
}

.tituloDestaque{
    color: var(--cor-secundaria);
}

.apresentacao{
    padding: 8% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 45px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;

}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family:var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__texto{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    size: 24px;
}

.apresentacao__links__navegacao{
    /* background-color: #4682B4; */
    color: var(--cor-secundaria);
    border: 2px solid var(--cor-secundaria);
    font-family: var(--fonte-primaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600px;
    padding: 21.5px 0;
    text-decoration: none;
}

.apresentacao__links__links:hover{
    background-color: var(--cor-secundaria);
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__musicas{
    text-decoration: none;
    color: var(--cor-terciaria);
}

.img{
    max-width: 500px;
    max-height: 4500px;
    width: 50%;
    height: 50%;
}

.rodape{
    background-color: var(--cor-secundaria);
    color: black;
    padding: 24px;
    font-family: var(--fonte-primaria);
    font-weight: 400px;
    font-size: 1.5rem;
    text-align: center;
}

@media (max-width: 1200px) {
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
        padding: 5%;
    }

    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }
}